<%- include("partials/header") %>

<body>
  <%- include("partials/nav") %>
 
  <h1>
    <%= winner.name %> heeft gewonnen
  </h1>
  
  <div class="col-5 battleYou">
    <form action="" method="post">
      <div class="card firstcard">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <select name="pokemon" id="pokemon" class="form-control">
                <% userPokemonsWithNames.forEach(pokemon => { %>
                  <option value="<%= pokemon.id %>"><%= pokemon.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="pokemonstats">
              HP: <%= pokemon.stats[0].base_stat %><br>
              ATK: <%= pokemon.stats[1].base_stat %><br>
              DEF: <%= pokemon.stats[2].base_stat %>
            </div>
            <div class="col-2">
              <input type="submit" class="btn btn-primary" value="Vecht">
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="pokemon-container">
      <article class="pokemonimg firstbattler-pokemon-img">
        <img src="<%= pokemon.sprites.other.home.front_default %>" class="card-img-top" alt="een afbeelding van">
      </article>
    </div>
  </div>

      <img src="../assets/platform.png" class="platformimg">
      <img src="../assets/platform.png" class="platformimg2">

      <div class="col-5 battleEnemy">
        <form action="">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <input type="text" class="form-control" name="enemy" id="pokemon" value="<%= enemy.name %>" placeholder="Naam">
                </div>
              </div>
              <div class="pokemonstats">
                HP: <%= enemy.stats[0].base_stat %><br>
                ATK: <%= enemy.stats[1].base_stat %><br>
                DEF: <%= enemy.stats[2].base_stat %>
              </div>
            </div>
             
            
          </div>
          <div class="pokemon-container">
            <article class="pokemonimg">
              <img src="<%= enemy.sprites.other.home.front_default %>" class="card-img-top" alt="een afbeelding van">
            </article>
            
          </div>
        </form>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>
</body>
</html>