<%- include("partials/header") %>

    <body class="allPoke">
        <%- include("partials/nav") %>
            <article class="container-fluid row justify-content-center">
                <% for(let pokemon of pokemons) { %>
                    <section class="card text-center <%=pokemon.type%>">
                        <article class="card-body">
                            <h1 class="card-title"><a href="/pokemon/<%=pokemon.id%>">
                                    <%= pokemon.name %>
                                </a></h1>
                            <p class="card-text">
                                <%= pokemon.id %>
                            </p>
                        </article>
                        <img src="<%=pokemon.image%>" class="card-img-top" alt="een afbeelding van <%= pokemon.name %>">
                    </section>
                    <% } %>
            </article>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                        <a class="page-link" href="/?page=<%=currentPage-1%>&maxpoke=<%=limit%>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% for(let index=1; index <=totalPages; index++) { %>
                        <li class="page-item <%= currentPage === index ? 'active' : '' %>">
                            <a class="page-link" href="/?page=<%=index%>&maxpoke=<%=limit%>">
                                <%= index %>
                            </a>
                        </li>
                        <% } %>
                            <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                <a class="page-link" href="/?page=<%= currentPage+1 %>&maxpoke=<%=limit%>"
                                    aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                </ul>
            </nav>
            <%- include("partials/footer") %>
    </body>