<%- include("partials/header") %>

    <body class="allPoke">
        <%- include("partials/nav") %>
            <article class="container-fluid row justify-content-center">
                <% for(let pokemon of pokemons) { %>
                    <section class="card text-center <%=pokemon.type%>">
                        <article class="card-body">
                            <h1 class="card-title"><a href="/pokemon/<%=pokemon.id%>">
                                    <%= pokemon.name %>
                                </a></h1>
                            <p class="card-text">
                                <%= pokemon.id %>
                            </p>
                        </article>
                        <img src="<%=pokemon.image%>" class="card-img-top" alt="een afbeelding van <%= pokemon.name %>">
                    </section>
                    <% } %>
            </article>
            <%- include("partials/footer") %>
