<%- include("partials/header") %>

    <body>
        <%- include("partials/nav") %>
            <article class="container-fluid row justify-content-center">

                <section class="pokemon">
                    <article class="card card-nohover text-center <%= pokemon.types[0].type.name  %>">
                        <div class="row">
                            <div class="col-6">

                                <section class="card-body">
                                    <h1 class="card-title">
                                        <%= pokemon.id %>
                                            <span class="pokename">
                                                <%= pokemonbijnaam %>
                                            </span>
                                            <%if (catchedPokemon) {%>
                                                <a href="/favorite/<%= pokemon.id %>"><i class="bi bi-star"></i></a>
                                                <%}%>

                                    </h1>
                                    <img src="<%=pokemon.sprites.other.home.front_default  %>" class="card-img-top"
                                        alt="...">
                                </section>
                            </div>
                            <div class="col-6">
                                <section class="pokemonstats">


                                    <p>
                                        <%= pokemon.stats[0].stat.name %>: <%= pokemon.stats[0].base_stat %>
                                    </p>
                                    <p>
                                        <%= pokemon.stats[1].stat.name %>: <%= pokemon.stats[1].base_stat +
                                                pokemonAttack%>
                                    </p>
                                    <p>
                                        <%= pokemon.stats[2].stat.name %>: <%= pokemon.stats[2].base_stat +
                                                pokemonDefense %>
                                    </p>
                                </section>
                            </div>
                        </div>
                    </article>
                </section>
                <section class="path card card-nohover">
                    <h1>
                        Evolutiepad
                    </h1>
                    <section class="images">
                        <% for(let i=0; i < evolutionChain.length; i++) { %>
                            <% if (i> 0) { %>
                                <svg class="arrow-path" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                        stroke="#CCCCCC" stroke-width="0.192" />
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M5 12H19M19 12L13 6M19 12L13 18" stroke="#000000" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </svg>
                                <% } %>
                                    <img src="<%= evolutionChain[i].spriteUrl %>" alt="<%= evolutionChain[i].name %>"
                                        class="pathimg">
                                    <% } %>
                    </section>

                </section>
            </article>
            <%- include("partials/footer") %>