<%- include("partials/header") %>

    <body>
        <%- include("partials/nav") %>
            <article class="container-fluid row justify-content-center">

                <section class="pokemon">
                    <article class="card card-nohover text-center <%= pokemon.types[0].type.name  %>">
                        <div class="row">
                            <div class="col">

                                <section class="card-body">
                                    <h1 class="card-title">
                                        <%= pokemon.id %>
                                            <span class="pokename">
                                                <%= pokemonbijnaam %>
                                            </span>
                                            <%if (pokemon.id===user.activepokemon) { %><i class="bi bi-star-fill"></i>
                                                <%}else if (catchedPokemon) {%>
                                                    <a href="/favorite/<%= pokemon.id %>"><i class="bi bi-star"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-title="Markeer als favoriet"></i></a>
                                                    <%}%>

                                    </h1>
                                    <% if(catchedPokemon){%>
                                        <a type="button" class="card-top-right-link" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            <span class="bi bi-pencil"> Bewerk Bijnaam</span></a>
                                        <%}%>
                                            <img src="<%=pokemon.sprites.other.home.front_default  %>"
                                                class="card-img-top" alt="...">
                                </section>
                            </div>
                            <div class="col">
                                <section class="pokemonstats">
                                    <p>
                                        <%= pokemon.stats[0].stat.name %>: <%= pokemon.stats[0].base_stat %>
                                    </p>
                                    <p>
                                        <%= pokemon.stats[1].stat.name %>: <%= pokemon.stats[1].base_stat +
                                                pokemonAttack%>
                                    </p>
                                    <p>
                                        <%= pokemon.stats[2].stat.name %>: <%= pokemon.stats[2].base_stat +
                                                pokemonDefense %>
                                    </p>
                                </section>
                                <% if(catchedPokemon){%>
                                    <form action="/catcher/<%= pokemon.id %>" method="GET">
                                        <input type="hidden" name="action" value="release">
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-primary btnloslaten" type="submit">Loslaten</button>
                                        </div>
                                    </form>
                                    <%}%>
                            </div>
                        </div>
                    </article>
                </section>
                <section class="path card card-nohover">
                    <h1>
                        Evolutiepad
                    </h1>
                    <section class="images">
                        <% for(let i=0; i < evolutionChain.length; i++) { %>
                            <% if (i> 0) { %>
                                <svg class="arrow-path" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"
                                        stroke="#CCCCCC" stroke-width="0.192" />
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M5 12H19M19 12L13 6M19 12L13 18" stroke="#000000" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </svg>
                                <% } %><img src="<%= evolutionChain[i].spriteUrl %>" alt="<%= evolutionChain[i].name %>"
                                        class="pathimg"
                                        onclick="window.location.href='/pokemon/<%=evolutionChain[i].id%>'">

                                    <% } %>
                    </section>

                </section>
            </article>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Bewerk de bijnaam van <%=pokemon.name%>
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/update-nickname/<%=pokemon.id%>" method="POST">
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="nickname" name="nickname"
                                        placeholder="Enter nickname" value="<%=pokemonbijnaam%>">
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
                            <button type="submit" class="btn btn-danger">Wijzigingen opslaan</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <%- include("partials/footer") %>