<%- include("partials/header") %>

<body>
    <%- include("partials/nav") %>
    <article class="container-fluid">
        <div class="text-center">
            <a class="btn btn-danger" name="action" value="test"><i class="bi bi-check-circle-fill"></i> Kies je starterpokemon</a>
        </div>

        <% if (pokemons && pokemons.length > 0) { %>
            <% let starterpok = [0, 3, 6]; %>
            <div class="row justify-content-center">
                <% starterpok.forEach(index => { %>
                    <% if (pokemons[index]) { %>
                        <% let pokemon = pokemons[index]; %>
                        <div class="col-md-4 col-sm-6 mb-4 cardstater">
                            <form action="/add-pokemon" method="POST">
                                <input type="hidden" name="pokemonId" value="<%= pokemon.id %>">
                                <input type="hidden" name="action" value="test">
                                <section class="card text-center <%= pokemon.type %>">
                                    <article class="card-body ">
                                        <h1 class="card-title">
                                            <%= pokemon.name %>
                                        </h1>
                                        <p class="card-text">
                                            <%= pokemon.id %>
                                        </p>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-check-circle-fill"></i> I Kies jou!
                                        </button>
                                    </article>
                                    <img src="<%= pokemon.image %>" class="card-img-top <%= pokemon.colour %>" alt="een afbeelding van <%= pokemon.name %>">
                                </section>
                            </form>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        <% } else { %>
            <p>Geen Pokémon beschikbaar.</p>
        <% } %>
    </article>

    <%- include("partials/footer") %>
</body>