<%- include("partials/header") %>

  <body>
    <%- include("partials/nav") %>
      <div class="row vergelijken" style="margin-right: auto !important;">
        <div class="col-5">
          <section class="card text-center card-nohover">
            <article class="card-body">
              <form action="">
                <div class="row">
                  <div class="col-9">
                    <input type="text" class="form-control" name="pokemon1" id="pokemon1" value="<%=pokemon1.name %>"
                      placeholder="Naam">
                  </div>
                  <div class="col-2">
                    <input type="submit" class="btn btn-primary" value="zoeken">
                  </div>
                </div>
            </article>
            <article class="pokemonimg"><img src="<%= pokemon1.sprites.other.home.front_default %>" class="card-img-top"
                alt="een afbeelding van">
            </article>

            <article class="card-body">
              <h2>STATS</h2>
              <h3 class="<% if (pokemon1.stats[0].base_stat > pokemon2.stats[0].base_stat) {%>
                text-success<%
              } else{%>text-danger<%}%>">
                <%= pokemon1.stats[0].stat.name %>: <%= pokemon1.stats[0].base_stat %>
              </h3>
              <h3 class="<% if (pokemon1.stats[1].base_stat > pokemon2.stats[0].base_stat) {%>
                              text-success<%
                            } else{%>text-danger<%}%>">
                <%= pokemon1.stats[1].stat.name %>: <%= pokemon1.stats[1].base_stat%>
              </h3>
              <h3 class="<% if (pokemon1.stats[2].base_stat > pokemon2.stats[2].base_stat) {%>
                              text-success<%
                            } else{%>text-danger<%}%>">
                <%= pokemon1.stats[2].stat.name %>: <%= pokemon1.stats[2].base_stat%>
              </h3>
            </article>
          </section>
        </div>
        <div class="col-5">

          <section class="card text-center card-nohover">
            <article class="card-body">
              <div class="row">
                <div class="col-9">
                  <input type="text" class="form-control" name="pokemon2" id="pokemon1" value="<%= pokemon2.name %>"
                    placeholder="Naam">
                </div>
                <div class="col-2">
                  <input type="submit" class="btn btn-primary" value="zoeken">
                </div>
              </div>
              </form>
            </article>
            <article class="pokemonimg">
              <img src="<%= pokemon2.sprites.other.home.front_default %>" class="card-img-top"
                alt="een afbeelding van bulbasaur">
            </article>
            <article class="card-body">
              <h2>STATS</h2>
              <h3 class="<% if (pokemon1.stats[0].base_stat < pokemon2.stats[0].base_stat) {%>
                              text-success<%
                            } else{%>text-danger<%}%>">
                <%= pokemon2.stats[0].stat.name %>: <%= pokemon2.stats[0].base_stat %>
              </h3>
              <h3 class="<% if (pokemon1.stats[1].base_stat < pokemon2.stats[0].base_stat) {%>
                                            text-success<%
                                          } else{%>text-danger<%}%>">
                <%= pokemon2.stats[1].stat.name %>: <%= pokemon2.stats[1].base_stat%>
              </h3>
              <h3 class="<% if (pokemon1.stats[2].base_stat < pokemon2.stats[2].base_stat) {%>
                                            text-success<%
                                          } else{%>text-danger<%}%>">
                <%= pokemon2.stats[2].stat.name %>: <%= pokemon2.stats[2].base_stat%>
              </h3>
            </article>
          </section>
        </div>
      </div>
      <%- include("partials/footer") %>