<%- include("partials/header") %>



  <body>
    <%- include("partials/nav") %>
      <article class="container-fluid row justify-content-center card card-whothat">
        <h1>Who is that Pokemon?</h1>
        <img src="<%= pokemon.sprites.other.home.front_default %>" class="blackout" alt="">
        <div class="form-group col-1 whothatform">
          <div class="formarrow">
            <label for="pokemonname">Per juist antwoord gaat def/att met 1 naar boven </label>
            <img src="assets/arrow.jpg" class="arrow">
          </div>
          <label>Vul naam in: </label>
          <input type="text" class="text-control" id="pokemonname" placeholder="auto-complete..."
            value="<%=pokemon.name%>"></input>

        </div>
      </article>

      <%- include("partials/footer") %>